body {
    font-size: 50px;
    background-image: url(Photos/watercolor.png);
}
img {
    float: left;
}
header > nav {
    float: right;
}
header {
    border-style: none none solid none;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.column {
    float: right;
    max-width: 800px;
}
.left {
    width: 75%;
    background-color: white;
}
.right {
    width: 25%;
    background-color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1,h2 {
    border-style: none none solid none;
}
footer {
    background-color: gray;
    border-style: solid none none none;
    border-color: steelblue;
    text-align: center;
}

